[Unit]
Description=CyberDeck Daily Backup

[Timer]
OnCalendar=*-*-* 03:17:00
Persistent=true
RandomizedDelaySec=10m

[Install]
WantedBy=timers.target
